.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}


.mat-expansion-panel-header {
  background-color:#9fc6f0;
  color: white;
  padding-left:.8rem;
}
.disable_ripple:hover{
  background: currentColor !important;
  }

  .mat-expansion-panel-header:focus {
    background: rgba(220, 233, 255, 0.959);
    color: white;
  }

  .mat-expansion-panel-header:hover {
    background: rgba(148, 186, 250, 0.959);

    color: white;
  }
  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}
