<mat-accordion multi="true" class="example-headers-align">
  <mat-expansion-panel class="my-2" showToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="mr-2">account_circle</mat-icon>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" min="1" placeholder="Age">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel class="my-2" showToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="mr-2">map</mat-icon>
        Destination
      </mat-panel-title>
      <mat-panel-description>
        Type the country name

      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Country">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel class="my-2" showToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="mr-2">date_range</mat-icon>
        Day of the trip
      </mat-panel-title>
      <mat-panel-description>
        Inform the date you wish to travel
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
      </mat-card-content>
    </mat-card>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
