<mat-sidenav-container color="" class="sidenav-cont-main">
  <mat-sidenav class="" style="width: 304px; min-width: 304px;" #sidenav mode="side" opened="{{showSideNav}}">
    <br>
    <!-- User Profile   -->

    <div class="d-flex justify-content-center">
      <p class="centered"><a href="#"><img src="assets/img/user-pic.png" class="rounded-circle" width="100"
            height="100"></a></p>
    </div>

    <div class="d-flex justify-content-center">

      <div> <i class="fa fa-circle" style="color: yellowgreen"></i> &nbsp; Chandan Dash</div>

    </div>
    <div class="d-flex justify-content-center"><small style="font-style:italic">Last Login:
        {{lastLoginDate | date: 'short'}}</small></div>

    <br><br>
    <mat-divider></mat-divider>
    <!--SideNav Bar-->
    <mat-list-item routerLink="home">
      <button mat-icon-button [disableRipple]="true">
        <mat-icon>email</mat-icon>
        Inbox
      </button>
    </mat-list-item>
    <mat-list-item class="" routerLink="summary">
      <button mat-icon-button [disableRipple]="true" color="">
        <mat-icon >warning</mat-icon>
        Alerts
      </button>
    </mat-list-item>

    <mat-accordion>
      <mat-expansion-panel class="" expanded="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon >dashboard</mat-icon>
            <h6 class="ml-1">Functions</h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item routerLink="home">
          <button mat-icon-button [disableRipple]="true" color="">
            <mat-icon class="sidenavbulletcolor" style="font-size:x-small; color:rgb(105, 158, 245)">lens</mat-icon>
            Federal, State, Local Reporting
          </button>
          
        </mat-list-item>
        <mat-list-item class="" routerLink="summary">
          <button mat-icon-button [disableRipple]="true" color="">
            <mat-icon class="sidenavbulletcolor" style="font-size:x-small; color:rgb(105, 158, 245)">lens</mat-icon>
            Fraud, Waste, and Abuse
          </button>
        </mat-list-item>

        <mat-list-item class="" routerLink="summary">
          <button mat-icon-button [disableRipple]="true" color="">
            <mat-icon class="sidenavbulletcolor" style="font-size:x-small; color:rgb(105, 158, 245)">lens</mat-icon>
            Program Integrity and Compliance
          </button>
        </mat-list-item>

        <mat-list-item class="" routerLink="summary">
          <button mat-icon-button [disableRipple]="true" color="">
            <mat-icon class="sidenavbulletcolor" style="font-size:x-small; color:rgb(105, 158, 245)">lens</mat-icon>
            Program Performance
          </button>
        </mat-list-item>

        <mat-list-item class="" routerLink="summary">
          <button mat-icon-button [disableRipple]="true" color="">
            <mat-icon class="sidenavbulletcolor" style="font-size:x-small; color:rgb(105, 158, 245)">lens</mat-icon>
            Data Aggregation and Extraction
          </button>
        </mat-list-item>

        <mat-list-item class="" routerLink="summary">
          <button mat-icon-button [disableRipple]="true" color="">
            <mat-icon class="sidenavbulletcolor" style="font-size:x-small; color:rgb(105, 158, 245)">lens</mat-icon>
            Decision Analysis
          </button>
        </mat-list-item>

        <mat-list-item class="" routerLink="summary">
          <button mat-icon-button [disableRipple]="true" color="">
            <mat-icon class="sidenavbulletcolor" style="font-size:x-small; color:rgb(105, 158, 245)">lens</mat-icon>
            Historical and Longitudinal Analysis
          </button>
        </mat-list-item>

        <mat-list-item class="" routerLink="summary">
          <button mat-icon-button [disableRipple]="true" color="">
            <mat-icon class="sidenavbulletcolor" style="font-size:x-small; color:rgb(105, 158, 245)">lens</mat-icon>
            Data Exploration
          </button>
        </mat-list-item>

        <mat-list-item class="" routerLink="summary">
          <button mat-icon-button [disableRipple]="true" color="">
            <mat-icon class="sidenavbulletcolor" style="font-size:x-small; color:rgb(105, 158, 245)">lens</mat-icon>
            Financial Analysis
          </button>
        </mat-list-item>

        <mat-list-item class="" routerLink="summary">
          <button mat-icon-button [disableRipple]="true" color="">
            <mat-icon class="sidenavbulletcolor" style="font-size:x-small; color:rgb(105, 158, 245)">lens</mat-icon>
            Member / Provider Profile
          </button>
        </mat-list-item>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-list-item class="" routerLink="summary">
      <button mat-icon-button [disableRipple]="true">
        <mat-icon>account_circle</mat-icon>
        Profile
      </button>
    </mat-list-item>

    <mat-list-item class="" routerLink="summary">
      <button mat-icon-button [disableRipple]="true" color="">
        <mat-icon>settings</mat-icon>
        System Administration
      </button>
    </mat-list-item>

    <mat-list-item class="" routerLink="summary">
      <button mat-icon-button [disableRipple]="true">
        <mat-icon>bar_chart</mat-icon>
        Audit
      </button>
    </mat-list-item>
  </mat-sidenav>

  <!--Container for content-->
  <mat-sidenav-content class="">
    <div class="light-theme">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>