.sidenav-cont-main{
position: fixed;
height:100%;
min-height: 100%;
width: 100%;
min-width: 100%;
background: rgb(244, 244, 245);
}
.mat-icon{
    font-size: large;
    color: #0097a7    ;
}
.mat-list-item{
    align-items: flex-start;
}
.mat-list-item:hover{
    font-weight: bold;
    background-color:#0097a7;
}

.mat-expansion-panel-header{
padding-right: 10px;
padding-left: 0;
}
.is-active{
    background-color: #0097a7;
}