@import '~@angular/material/theming';
// @import './src/app/css/dark.css';

// Default theme.
$primary: mat-palette($mat-blue-grey, 800, 100, 900);
$accent:  mat-palette($mat-cyan, 700, 100, 900);
$warn:    mat-palette($mat-orange, A400);
$theme:   mat-dark-theme($primary, $accent, $warn);

// Dark theme.
$dark-primary: mat-palette($mat-blue, 800, 100, 50);
$dark-accent:  mat-palette($mat-cyan, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange, A400);
$dark-theme:   mat-dark-theme($primary, $accent, $warn);

//light theme
$light-primary: mat-palette($mat-blue);
$light-accent:  mat-palette($mat-cyan, A200, A100, A400);
$light-warn:    mat-palette($mat-deep-orange);
$light-theme:   mat-light-theme($primary, $accent, $warn);


//default theme clinical
  @include angular-material-theme($theme);
//light atl theme clinical
  .light-theme{
    @include angular-material-theme($light-theme);
  }

  //light atl theme clinical
  .dark-theme{
    @include angular-material-theme($dark-theme);
  }

  .mat-expansion-panel-body {
    // padding:0!important;
    padding-left:.2rem!important;
    padding-right:.1rem!important;

  }
