.slider {
    overflow-y: hidden;
	max-height: 500px; /* approximate max height */
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  .slider.closed {
	max-height: 0;
}

.trbg{
  background-color:#9fc6f0;
}

.trbg:hover{
  background: rgba(148, 186, 250, 0.959);
}

.trbg:focus{
  background: rgba(220, 233, 255, 0.959);
}

