

.mat-drawer-container {
  background-color: #afadad;
  color: white;
}

.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
  padding:1rem;
}

.mat-drawer {
  background:#2D323E;
  color: white;

}

.mat-expansion-panel {
  background: #1D2129;
  color: white;
}


.mat-nav-list .mat-list-item.mat-list-item-focus,
.mat-nav-list.mat-nav-list:hover{
  background: rgba(73, 124, 212, 0.959);
}

.active{
  background-color:#ffffff;
  border-radius:0px;
  color:white;
}

.mat-nav-list a.active {
  background: blue;
}

.active-list-item{
  background-color:#2f445a;
  border-radius:0px;
  color:white;
}

.sidenav-cont-main{
  position: fixed;
  height:100%;
  min-height:100%;
  width:100%;
  min-width:100%;
}

.sidenavbulletcolor{
  color:#629aff;
}
button:focus {outline:0;}
button {
  outline: none; // this one
}

mat-list-item{
  outline: none;
}

.mat-list-item:hover{
  outline: none;
  background-color:#2781e0;
}

.mat-list-item.active{
  outline: none;
  background-color:#2781e0;
}


