.mat-elevation-z0{
  box-shadow:0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12)
}
.mat-elevation-z1{
  box-shadow:0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)
}
.mat-elevation-z2{
  box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)
}
.mat-elevation-z3{
  box-shadow:0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)
}
.mat-elevation-z4{
  box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)
}
.mat-elevation-z5{
  box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12)
}
.mat-elevation-z6{
  box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12)
}
.mat-elevation-z7{
  box-shadow:0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12)
}
.mat-elevation-z8{
  box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)
}
.mat-elevation-z9{
  box-shadow:0 5px 6px -3px rgba(0,0,0,.2),0 9px 12px 1px rgba(0,0,0,.14),0 3px 16px 2px rgba(0,0,0,.12)
}
.mat-elevation-z10{
  box-shadow:0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12)
}
.mat-elevation-z11{
  box-shadow:0 6px 7px -4px rgba(0,0,0,.2),0 11px 15px 1px rgba(0,0,0,.14),0 4px 20px 3px rgba(0,0,0,.12)
}
.mat-elevation-z12{
  box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12)
}
.mat-elevation-z13{
  box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12)
}
.mat-elevation-z14{
  box-shadow:0 7px 9px -4px rgba(0,0,0,.2),0 14px 21px 2px rgba(0,0,0,.14),0 5px 26px 4px rgba(0,0,0,.12)
}
.mat-elevation-z15{
  box-shadow:0 8px 9px -5px rgba(0,0,0,.2),0 15px 22px 2px rgba(0,0,0,.14),0 6px 28px 5px rgba(0,0,0,.12)
}
.mat-elevation-z16{
  box-shadow:0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12)
}
.mat-elevation-z17{
  box-shadow:0 8px 11px -5px rgba(0,0,0,.2),0 17px 26px 2px rgba(0,0,0,.14),0 6px 32px 5px rgba(0,0,0,.12)
}
.mat-elevation-z18{
  box-shadow:0 9px 11px -5px rgba(0,0,0,.2),0 18px 28px 2px rgba(0,0,0,.14),0 7px 34px 6px rgba(0,0,0,.12)
}
.mat-elevation-z19{
  box-shadow:0 9px 12px -6px rgba(0,0,0,.2),0 19px 29px 2px rgba(0,0,0,.14),0 7px 36px 6px rgba(0,0,0,.12)
}
.mat-elevation-z20{
  box-shadow:0 10px 13px -6px rgba(0,0,0,.2),0 20px 31px 3px rgba(0,0,0,.14),0 8px 38px 7px rgba(0,0,0,.12)
}
.mat-elevation-z21{
  box-shadow:0 10px 13px -6px rgba(0,0,0,.2),0 21px 33px 3px rgba(0,0,0,.14),0 8px 40px 7px rgba(0,0,0,.12)
}
.mat-elevation-z22{
  box-shadow:0 10px 14px -6px rgba(0,0,0,.2),0 22px 35px 3px rgba(0,0,0,.14),0 8px 42px 7px rgba(0,0,0,.12)
}
.mat-elevation-z23{
  box-shadow:0 11px 14px -7px rgba(0,0,0,.2),0 23px 36px 3px rgba(0,0,0,.14),0 9px 44px 8px rgba(0,0,0,.12)
}
.mat-elevation-z24{
  box-shadow:0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12)
}
.mat-h1,.mat-headline,.mat-typography h1{
  font:400 24px/32px Roboto,Helvetica Neue,sans-serif;
  margin:0 0 16px
}
.mat-h2,.mat-title,.mat-typography h2{
  font:500 20px/32px Roboto,Helvetica Neue,sans-serif;
  margin:0 0 16px
}
.mat-h3,.mat-subheading-2,.mat-typography h3{
  font:400 16px/28px Roboto,Helvetica Neue,sans-serif;
  margin:0 0 16px
}
.mat-h4,.mat-subheading-1,.mat-typography h4{
  font:400 15px/24px Roboto,Helvetica Neue,sans-serif;
  margin:0 0 16px
}
.mat-h5,.mat-typography h5{
  font-size:11.62px
}
.mat-h5,.mat-h6,.mat-typography h5,.mat-typography h6{
  font-weight:400;
  font-family:Roboto,Helvetica Neue,sans-serif;
  line-height:20px;
  margin:0 0 12px
}
.mat-h6,.mat-typography h6{
  font-size:9.38px
}
.mat-body-2,.mat-body-strong{
  font:500 14px/24px Roboto,Helvetica Neue,sans-serif
}
.mat-body,.mat-body-1,.mat-typography{
  font:400 14px/20px Roboto,Helvetica Neue,sans-serif
}
.mat-body-1 p,.mat-body p,.mat-typography p{
  margin:0 0 12px
}
.mat-caption,.mat-small{
  font:400 12px/20px Roboto,Helvetica Neue,sans-serif
}
.mat-display-4,.mat-typography .mat-display-4{
  font:300 112px/112px Roboto,Helvetica Neue,sans-serif;
  margin:0 0 56px;
  letter-spacing:-.05em
}
.mat-display-3,.mat-typography .mat-display-3{
  font:400 56px/56px Roboto,Helvetica Neue,sans-serif;
  margin:0 0 64px;
  letter-spacing:-.02em
}
.mat-display-2,.mat-typography .mat-display-2{
  font:400 45px/48px Roboto,Helvetica Neue,sans-serif;
  margin:0 0 64px;
  letter-spacing:-.005em
}
.mat-display-1,.mat-typography .mat-display-1{
  font:400 34px/40px Roboto,Helvetica Neue,sans-serif;
  margin:0 0 64px
}
.mat-button,.mat-fab,.mat-icon-button,.mat-mini-fab,.mat-raised-button{
  font-family:Roboto,Helvetica Neue,sans-serif;
  font-size:14px;
  font-weight:500
}
.mat-button-toggle,.mat-card{
  font-family:Roboto,Helvetica Neue,sans-serif
}
.mat-card-title{
  font-size:24px;
  font-weight:400
}
.mat-card-content,.mat-card-header .mat-card-title,.mat-card-subtitle{
  font-size:14px
}
.mat-checkbox{
  font-family:Roboto,Helvetica Neue,sans-serif
}
.mat-checkbox-layout .mat-checkbox-label{
  line-height:24px
}
.mat-chip{
  font-size:13px;
  line-height:18px
}
.mat-chip .mat-chip-remove.mat-icon{
  font-size:18px
}
.mat-table{
  font-family:Roboto,Helvetica Neue,sans-serif
}
.mat-header-cell{
  font-size:12px;
  font-weight:500
}
.mat-cell{
  font-size:14px
}
.mat-calendar{
  font-family:Roboto,Helvetica Neue,sans-serif
}
.mat-calendar-body{
  font-size:13px
}
.mat-calendar-body-label,.mat-calendar-period-button{
  font-size:14px;
  font-weight:500
}
.mat-calendar-table-header th{
  font-size:11px;
  font-weight:400
}
.mat-dialog-title{
  font:500 20px/32px Roboto,Helvetica Neue,sans-serif
}
.mat-expansion-panel-header{
  font-family:Roboto,Helvetica Neue,sans-serif;
  font-size:15px;
  font-weight:400
}
.mat-expansion-panel-content{
  font:400 14px/20px Roboto,Helvetica Neue,sans-serif
}
.mat-form-field{
  font-family:Roboto,Helvetica Neue,sans-serif;
  font-size:inherit;
  font-weight:400;
  line-height:1.125
}
.mat-form-field-wrapper{
  padding-bottom:1.25em
}
.mat-form-field-prefix .mat-icon,.mat-form-field-suffix .mat-icon{
  font-size:150%;
  line-height:1.125
}
.mat-form-field-prefix .mat-icon-button,.mat-form-field-suffix .mat-icon-button{
  height:1.5em;
  width:1.5em
}
.mat-form-field-prefix .mat-icon-button .mat-icon,.mat-form-field-suffix .mat-icon-button .mat-icon{
  height:1.125em;
  line-height:1.125
}
.mat-form-field-infix{
  padding:.4375em 0;
  border-top:.84375em solid transparent
}
.mat-form-field-autofill-float:-webkit-autofill+.mat-form-field-placeholder-wrapper .mat-form-field-float{
  -webkit-transform:translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
  transform:translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
  -ms-transform:translateY(-1.28125em) scale(.75);
  width:133.33333333%
}
.mat-form-field-placeholder-wrapper{
  top:-.84375em;
  padding-top:.84375em
}
.mat-form-field-placeholder{
  top:1.28125em
}
.mat-focused .mat-form-field-placeholder.mat-form-field-float,.mat-form-field-placeholder.mat-form-field-float:not(.mat-form-field-empty){
  -webkit-transform:translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
  transform:translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
  -ms-transform:translateY(-1.28125em) scale(.75);
  width:133.33333333%
}
.mat-form-field-underline{
  bottom:1.25em
}
.mat-form-field-subscript-wrapper{
  font-size:75%;
  margin-top:.54166667em;
  top:calc(100% - 1.66666667em)
}
.mat-grid-tile-footer,.mat-grid-tile-header{
  font-size:14px
}
.mat-grid-tile-footer .mat-line,.mat-grid-tile-header .mat-line{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  display:block;
  box-sizing:border-box
}
.mat-grid-tile-footer .mat-line:nth-child(n+2),.mat-grid-tile-header .mat-line:nth-child(n+2){
  font-size:12px
}
input.mat-input-element{
  margin-top:-.0625em
}
.mat-menu-item{
  font-family:Roboto,Helvetica Neue,sans-serif;
  font-size:16px
}
.mat-paginator,.mat-paginator-page-size .mat-select-trigger{
  font-family:Roboto,Helvetica Neue,sans-serif;
  font-size:12px
}
.mat-radio-button,.mat-select{
  font-family:Roboto,Helvetica Neue,sans-serif
}
.mat-select{
  padding-top:16px
}
.mat-select-trigger{
  font-size:16px
}
.mat-slide-toggle-content{
  font:400 14px/20px Roboto,Helvetica Neue,sans-serif
}
.mat-slider-thumb-label-text{
  font-size:12px;
  font-weight:500
}
.mat-slider-thumb-label-text,.mat-tab-group,.mat-tab-label,.mat-tab-link{
  font-family:Roboto,Helvetica Neue,sans-serif
}
.mat-tab-label,.mat-tab-link{
  font-size:14px;
  font-weight:500
}
.mat-toolbar,.mat-toolbar h1,.mat-toolbar h2,.mat-toolbar h3,.mat-toolbar h4,.mat-toolbar h5,.mat-toolbar h6{
  font:500 20px/32px Roboto,Helvetica Neue,sans-serif;
  margin:0
}
.mat-tooltip{
  font-size:10px;
  padding-top:6px;
  padding-bottom:6px
}
.mat-list-item,.mat-list-option,.mat-tooltip{
  font-family:Roboto,Helvetica Neue,sans-serif
}
.mat-list .mat-list-item,.mat-nav-list .mat-list-item,.mat-selection-list .mat-list-item{
  font-size:16px
}
.mat-list .mat-list-item .mat-line,.mat-nav-list .mat-list-item .mat-line,.mat-selection-list .mat-list-item .mat-line{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  display:block;
  box-sizing:border-box
}
.mat-list .mat-list-item .mat-line:nth-child(n+2),.mat-nav-list .mat-list-item .mat-line:nth-child(n+2),.mat-selection-list .mat-list-item .mat-line:nth-child(n+2){
  font-size:14px
}
.mat-list .mat-list-option,.mat-nav-list .mat-list-option,.mat-selection-list .mat-list-option{
  font-size:16px
}
.mat-list .mat-list-option .mat-line,.mat-nav-list .mat-list-option .mat-line,.mat-selection-list .mat-list-option .mat-line{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  display:block;
  box-sizing:border-box
}
.mat-list .mat-list-option .mat-line:nth-child(n+2),.mat-nav-list .mat-list-option .mat-line:nth-child(n+2),.mat-selection-list .mat-list-option .mat-line:nth-child(n+2){
  font-size:14px
}
.mat-list .mat-subheader,.mat-nav-list .mat-subheader,.mat-selection-list .mat-subheader{
  font-family:Roboto,Helvetica Neue,sans-serif;
  font-size:14px;
  font-weight:500
}
.mat-list[dense] .mat-list-item,.mat-nav-list[dense] .mat-list-item,.mat-selection-list[dense] .mat-list-item{
  font-size:12px
}
.mat-list[dense] .mat-list-item .mat-line,.mat-nav-list[dense] .mat-list-item .mat-line,.mat-selection-list[dense] .mat-list-item .mat-line{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  display:block;
  box-sizing:border-box
}
.mat-list[dense] .mat-list-item .mat-line:nth-child(n+2),.mat-list[dense] .mat-list-option,.mat-nav-list[dense] .mat-list-item .mat-line:nth-child(n+2),.mat-nav-list[dense] .mat-list-option,.mat-selection-list[dense] .mat-list-item .mat-line:nth-child(n+2),.mat-selection-list[dense] .mat-list-option{
  font-size:12px
}
.mat-list[dense] .mat-list-option .mat-line,.mat-nav-list[dense] .mat-list-option .mat-line,.mat-selection-list[dense] .mat-list-option .mat-line{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  display:block;
  box-sizing:border-box
}
.mat-list[dense] .mat-list-option .mat-line:nth-child(n+2),.mat-nav-list[dense] .mat-list-option .mat-line:nth-child(n+2),.mat-selection-list[dense] .mat-list-option .mat-line:nth-child(n+2){
  font-size:12px
}
.mat-list[dense] .mat-subheader,.mat-nav-list[dense] .mat-subheader,.mat-selection-list[dense] .mat-subheader{
  font-family:Roboto,Helvetica Neue,sans-serif;
  font-size:12px;
  font-weight:500
}
.mat-option{
  font-family:Roboto,Helvetica Neue,sans-serif;
  font-size:16px
}
.mat-optgroup-label{
  font:500 14px/24px Roboto,Helvetica Neue,sans-serif
}
.mat-simple-snackbar{
  font-family:Roboto,Helvetica Neue,sans-serif;
  font-size:14px
}
.mat-simple-snackbar-action{
  line-height:1;
  font-family:inherit;
  font-size:inherit;
  font-weight:500
}
.mat-ripple{
  overflow:hidden
}
@media screen and (-ms-high-contrast:active){
  .mat-ripple{
      display:none
  }
}
.mat-ripple.mat-ripple-unbounded{
  overflow:visible
}
.mat-ripple-element{
  position:absolute;
  border-radius:50%;
  pointer-events:none;
  transition:opacity,-webkit-transform 0ms cubic-bezier(0,0,.2,1);
  transition:opacity,transform 0ms cubic-bezier(0,0,.2,1);
  transition:opacity,transform 0ms cubic-bezier(0,0,.2,1),-webkit-transform 0ms cubic-bezier(0,0,.2,1);
  -webkit-transform:scale(0);
  transform:scale(0)
}
.mat-option{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  display:block;
  line-height:48px;
  height:48px;
  padding:0 16px;
  text-align:left;
  text-decoration:none;
  position:relative;
  cursor:pointer;
  outline:none
}
.mat-option[disabled]{
  cursor:default
}
[dir=rtl] .mat-option{
  text-align:right
}
.mat-option .mat-icon{
  margin-right:16px
}
[dir=rtl] .mat-option .mat-icon{
  margin-left:16px;
  margin-right:0
}
.mat-option[aria-disabled=true]{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default
}
.mat-optgroup .mat-option:not(.mat-option-multiple){
  padding-left:32px
}
[dir=rtl] .mat-optgroup .mat-option:not(.mat-option-multiple){
  padding-left:16px;
  padding-right:32px
}
.mat-option-ripple{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  pointer-events:none
}
@media screen and (-ms-high-contrast:active){
  .mat-option-ripple{
      opacity:.5
  }
}
.mat-option-pseudo-checkbox{
  margin-right:8px
}
[dir=rtl] .mat-option-pseudo-checkbox{
  margin-left:8px;
  margin-right:0
}
.mat-optgroup-label{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  display:block;
  line-height:48px;
  height:48px;
  padding:0 16px;
  text-align:left;
  text-decoration:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default
}
.mat-optgroup-label[disabled]{
  cursor:default
}
[dir=rtl] .mat-optgroup-label{
  text-align:right
}
.mat-optgroup-label .mat-icon{
  margin-right:16px
}
[dir=rtl] .mat-optgroup-label .mat-icon{
  margin-left:16px;
  margin-right:0
}
.cdk-visually-hidden{
  border:0;
  clip:rect(0 0 0 0);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px
}
.cdk-global-overlay-wrapper,.cdk-overlay-container{
  pointer-events:none;
  top:0;
  left:0;
  height:100%;
  width:100%
}
.cdk-overlay-container{
  position:fixed;
  z-index:1000
}
.cdk-global-overlay-wrapper{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  position:absolute;
  z-index:1000
}
.cdk-overlay-pane{
  box-sizing:border-box
}
.cdk-overlay-backdrop,.cdk-overlay-pane{
  position:absolute;
  pointer-events:auto;
  z-index:1000
}
.cdk-overlay-backdrop{
  top:0;
  bottom:0;
  left:0;
  right:0;
  -webkit-tap-highlight-color:transparent;
  transition:opacity .4s cubic-bezier(.25,.8,.25,1);
  opacity:0
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing{
  opacity:.48
}
.cdk-overlay-dark-backdrop{
  background:rgba(0,0,0,.6)
}
.cdk-overlay-transparent-backdrop{
  background:none
}
.cdk-global-scrollblock{
  position:fixed;
  width:100%;
  overflow-y:scroll
}
.mat-ripple-element{
  background-color:hsla(0,0%,100%,.1)
}
.mat-option{
  color:#fff
}
.mat-option:focus:not(.mat-option-disabled),.mat-option:hover:not(.mat-option-disabled){
  background:hsla(0,0%,100%,.04)
}
.mat-primary .mat-option.mat-selected{
  color:#00e676
}
.mat-accent .mat-option.mat-selected{
  color:#00b0ff
}
.mat-warn .mat-option.mat-selected{
  color:#f44336
}
.mat-option.mat-active,.mat-option.mat-selected:not(.mat-option-multiple){
  background:hsla(0,0%,100%,.04)
}
.mat-option.mat-active{
  color:#fff
}
.mat-option.mat-option-disabled{
  color:hsla(0,0%,100%,.3)
}
.mat-optgroup-label{
  color:hsla(0,0%,100%,.7)
}
.mat-optgroup-disabled .mat-optgroup-label{
  color:hsla(0,0%,100%,.3)
}
.mat-pseudo-checkbox{
  color:hsla(0,0%,100%,.7)
}
.mat-pseudo-checkbox:after{
  color:#303030
}
.mat-accent .mat-pseudo-checkbox-checked,.mat-accent .mat-pseudo-checkbox-indeterminate,.mat-pseudo-checkbox-checked,.mat-pseudo-checkbox-indeterminate{
  background:#00b0ff
}
.mat-primary .mat-pseudo-checkbox-checked,.mat-primary .mat-pseudo-checkbox-indeterminate{
  background:#00e676
}
.mat-warn .mat-pseudo-checkbox-checked,.mat-warn .mat-pseudo-checkbox-indeterminate{
  background:#f44336
}
.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-disabled,.mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-disabled{
  background:#686868
}
.mat-app-background{
  background-color:#303030
}
.mat-theme-loaded-marker{
  display:none
}
.mat-autocomplete-panel,.mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover){
  background:#424242;
  color:#fff
}
.mat-button,.mat-icon-button{
  background:transparent
}
.mat-button.mat-primary .mat-button-focus-overlay,.mat-icon-button.mat-primary .mat-button-focus-overlay{
  background-color:rgba(0,230,118,.12)
}
.mat-button.mat-accent .mat-button-focus-overlay,.mat-icon-button.mat-accent .mat-button-focus-overlay{
  background-color:rgba(0,176,255,.12)
}
.mat-button.mat-warn .mat-button-focus-overlay,.mat-icon-button.mat-warn .mat-button-focus-overlay{
  background-color:rgba(244,67,54,.12)
}
.mat-button[disabled] .mat-button-focus-overlay,.mat-icon-button[disabled] .mat-button-focus-overlay{
  background-color:transparent
}
.mat-button.mat-primary,.mat-icon-button.mat-primary{
  color:#00e676
}
.mat-button.mat-accent,.mat-icon-button.mat-accent{
  color:#00b0ff
}
.mat-button.mat-warn,.mat-icon-button.mat-warn{
  color:#f44336
}
.mat-button.mat-accent[disabled],.mat-button.mat-primary[disabled],.mat-button.mat-warn[disabled],.mat-button[disabled][disabled],.mat-icon-button.mat-accent[disabled],.mat-icon-button.mat-primary[disabled],.mat-icon-button.mat-warn[disabled],.mat-icon-button[disabled][disabled]{
  color:hsla(0,0%,100%,.3)
}
.mat-fab,.mat-mini-fab,.mat-raised-button{
  color:#fff;
  background-color:#424242
}
.mat-fab.mat-accent,.mat-fab.mat-primary,.mat-mini-fab.mat-accent,.mat-mini-fab.mat-primary,.mat-raised-button.mat-accent,.mat-raised-button.mat-primary{
  color:rgba(0,0,0,.87)
}
.mat-fab.mat-warn,.mat-mini-fab.mat-warn,.mat-raised-button.mat-warn{
  color:#fff
}
.mat-fab.mat-accent[disabled],.mat-fab.mat-primary[disabled],.mat-fab.mat-warn[disabled],.mat-fab[disabled][disabled],.mat-mini-fab.mat-accent[disabled],.mat-mini-fab.mat-primary[disabled],.mat-mini-fab.mat-warn[disabled],.mat-mini-fab[disabled][disabled],.mat-raised-button.mat-accent[disabled],.mat-raised-button.mat-primary[disabled],.mat-raised-button.mat-warn[disabled],.mat-raised-button[disabled][disabled]{
  color:hsla(0,0%,100%,.3)
}
.mat-fab.mat-primary,.mat-mini-fab.mat-primary,.mat-raised-button.mat-primary{
  background-color:#00e676
}
.mat-fab.mat-accent,.mat-mini-fab.mat-accent,.mat-raised-button.mat-accent{
  background-color:#00b0ff
}
.mat-fab.mat-warn,.mat-mini-fab.mat-warn,.mat-raised-button.mat-warn{
  background-color:#f44336
}
.mat-fab.mat-accent[disabled],.mat-fab.mat-primary[disabled],.mat-fab.mat-warn[disabled],.mat-fab[disabled][disabled],.mat-mini-fab.mat-accent[disabled],.mat-mini-fab.mat-primary[disabled],.mat-mini-fab.mat-warn[disabled],.mat-mini-fab[disabled][disabled],.mat-raised-button.mat-accent[disabled],.mat-raised-button.mat-primary[disabled],.mat-raised-button.mat-warn[disabled],.mat-raised-button[disabled][disabled]{
  background-color:hsla(0,0%,100%,.12)
}
.mat-fab.mat-accent .mat-ripple-element,.mat-fab.mat-primary .mat-ripple-element,.mat-mini-fab.mat-accent .mat-ripple-element,.mat-mini-fab.mat-primary .mat-ripple-element,.mat-raised-button.mat-accent .mat-ripple-element,.mat-raised-button.mat-primary .mat-ripple-element{
  background-color:rgba(0,0,0,.2)
}
.mat-fab.mat-warn .mat-ripple-element,.mat-mini-fab.mat-warn .mat-ripple-element,.mat-raised-button.mat-warn .mat-ripple-element{
  background-color:hsla(0,0%,100%,.2)
}
.mat-button.mat-primary .mat-ripple-element{
  background-color:rgba(0,230,118,.1)
}
.mat-button.mat-accent .mat-ripple-element{
  background-color:rgba(0,176,255,.1)
}
.mat-button.mat-warn .mat-ripple-element{
  background-color:rgba(244,67,54,.1)
}
.mat-icon-button.mat-primary .mat-ripple-element{
  background-color:rgba(0,230,118,.2)
}
.mat-icon-button.mat-accent .mat-ripple-element{
  background-color:rgba(0,176,255,.2)
}
.mat-icon-button.mat-warn .mat-ripple-element{
  background-color:rgba(244,67,54,.2)
}
.mat-button-toggle{
  color:hsla(0,0%,100%,.3)
}
.mat-button-toggle.cdk-focused .mat-button-toggle-focus-overlay{
  background-color:hsla(0,0%,100%,.06)
}
.mat-button-toggle-checked{
  background-color:#212121;
  color:hsla(0,0%,100%,.7)
}
.mat-button-toggle-disabled{
  background-color:#000;
  color:hsla(0,0%,100%,.3)
}
.mat-button-toggle-disabled.mat-button-toggle-checked{
  background-color:#424242
}
.mat-card{
  background:#424242;
  color:#fff
}
.mat-card-subtitle{
  color:hsla(0,0%,100%,.7)
}
.mat-checkbox-frame{
  border-color:hsla(0,0%,100%,.7)
}
.mat-checkbox-checkmark{
  fill:#303030
}
.mat-checkbox-checkmark-path{
  stroke:#303030!important
}
.mat-checkbox-mixedmark{
  background-color:#303030
}
.mat-checkbox-checked.mat-primary .mat-checkbox-background,.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background{
  background-color:#00e676
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
  background-color:#00b0ff
}
.mat-checkbox-checked.mat-warn .mat-checkbox-background,.mat-checkbox-indeterminate.mat-warn .mat-checkbox-background{
  background-color:#f44336
}
.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background,.mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background{
  background-color:#686868
}
.mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame{
  border-color:#686868
}
.mat-checkbox-disabled .mat-checkbox-label{
  color:#686868
}
.mat-checkbox:not(.mat-checkbox-disabled).mat-primary .mat-checkbox-ripple .mat-ripple-element{
  background-color:rgba(0,230,118,.26)
}
.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element{
  background-color:rgba(0,176,255,.26)
}
.mat-checkbox:not(.mat-checkbox-disabled).mat-warn .mat-checkbox-ripple .mat-ripple-element{
  background-color:rgba(244,67,54,.26)
}
.mat-chip:not(.mat-basic-chip){
  background-color:#616161;
  color:#fff
}
.mat-chip:not(.mat-basic-chip) .mat-chip-remove{
  color:#fff;
  opacity:.4
}
.mat-chip:not(.mat-basic-chip) .mat-chip-remove:hover{
  opacity:.54
}
.mat-chip.mat-chip-selected.mat-primary{
  background-color:#00e676;
  color:rgba(0,0,0,.87)
}
.mat-chip.mat-chip-selected.mat-primary .mat-chip-remove{
  color:rgba(0,0,0,.87);
  opacity:.4
}
.mat-chip.mat-chip-selected.mat-primary .mat-chip-remove:hover{
  opacity:.54
}
.mat-chip.mat-chip-selected.mat-warn{
  background-color:#f44336;
  color:#fff
}
.mat-chip.mat-chip-selected.mat-warn .mat-chip-remove{
  color:#fff;
  opacity:.4
}
.mat-chip.mat-chip-selected.mat-warn .mat-chip-remove:hover{
  opacity:.54
}
.mat-chip.mat-chip-selected.mat-accent{
  background-color:#00b0ff;
  color:rgba(0,0,0,.87)
}
.mat-chip.mat-chip-selected.mat-accent .mat-chip-remove{
  color:rgba(0,0,0,.87);
  opacity:.4
}
.mat-chip.mat-chip-selected.mat-accent .mat-chip-remove:hover{
  opacity:.54
}
.mat-table{
  background:#424242
}
.mat-header-row,.mat-row{
  border-bottom-color:hsla(0,0%,100%,.12)
}
.mat-header-cell{
  color:hsla(0,0%,100%,.7)
}
.mat-cell{
  color:#fff
}
.mat-datepicker-content{
  background-color:#424242;
  color:#fff
}
.mat-calendar-arrow{
  border-top-color:#fff
}
.mat-calendar-next-button,.mat-calendar-previous-button{
  color:#fff
}
.mat-calendar-table-header{
  color:hsla(0,0%,100%,.3)
}
.mat-calendar-table-header-divider:after{
  background:hsla(0,0%,100%,.12)
}
.mat-calendar-body-label{
  color:hsla(0,0%,100%,.7)
}
.mat-calendar-body-cell-content{
  color:#fff;
  border-color:transparent
}
.mat-calendar-body-disabled>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected){
  color:hsla(0,0%,100%,.3)
}
.cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected),:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected){
  background-color:hsla(0,0%,100%,.04)
}
.mat-calendar-body-selected{
  background-color:#00e676;
  color:rgba(0,0,0,.87)
}
.mat-calendar-body-disabled>.mat-calendar-body-selected{
  background-color:rgba(0,230,118,.4)
}
.mat-calendar-body-today:not(.mat-calendar-body-selected){
  border-color:hsla(0,0%,100%,.3)
}
.mat-calendar-body-today.mat-calendar-body-selected{
  box-shadow:inset 0 0 0 1px rgba(0,0,0,.87)
}
.mat-calendar-body-disabled>.mat-calendar-body-today:not(.mat-calendar-body-selected){
  border-color:hsla(0,0%,100%,.1)
}
.mat-dialog-container,.mat-expansion-panel{
  background:#424242;
  color:#fff
}
.mat-action-row{
  border-top-color:hsla(0,0%,100%,.12)
}
.mat-expansion-panel-header:not([aria-disabled=true]).cdk-keyboard-focused,.mat-expansion-panel-header:not([aria-disabled=true]).cdk-program-focused,.mat-expansion-panel-header:not([aria-disabled=true]):hover{
  background:hsla(0,0%,100%,.04)
}
.mat-expansion-panel-header-title{
  color:#fff
}
.mat-expansion-indicator:after,.mat-expansion-panel-header-description{
  color:hsla(0,0%,100%,.7)
}
.mat-expansion-panel-header[aria-disabled=true]{
  color:hsla(0,0%,100%,.3)
}
.mat-expansion-panel-header[aria-disabled=true] .mat-expansion-panel-header-description,.mat-expansion-panel-header[aria-disabled=true] .mat-expansion-panel-header-title{
  color:inherit
}
.mat-form-field{
  width:200px
}
.mat-form-field-placeholder,.mat-hint{
  color:hsla(0,0%,100%,.7)
}
.mat-focused .mat-form-field-placeholder{
  color:#00e676
}
.mat-focused .mat-form-field-placeholder.mat-accent{
  color:#00b0ff
}
.mat-focused .mat-form-field-placeholder.mat-warn{
  color:#f44336
}
.mat-focused .mat-form-field-placeholder.mat-form-field-float .mat-form-field-required-marker,.mat-form-field-autofill-float:-webkit-autofill+.mat-form-field-placeholder .mat-form-field-required-marker{
  color:#00b0ff
}
.mat-form-field-underline{
  background-color:hsla(0,0%,100%,.7)
}
.mat-form-field-underline.mat-disabled{
  background-image:linear-gradient(90deg,hsla(0,0%,100%,.7) 0,hsla(0,0%,100%,.7) 33%,transparent 0);
  background-size:4px 1px;
  background-repeat:repeat-x
}
.mat-form-field-ripple{
  background-color:#00e676
}
.mat-form-field-ripple.mat-accent{
  background-color:#00b0ff
}
.mat-form-field-ripple.mat-warn{
  background-color:#f44336
}
.mat-form-field-invalid .mat-form-field-placeholder,.mat-form-field-invalid .mat-form-field-placeholder.mat-accent,.mat-form-field-invalid .mat-form-field-placeholder.mat-form-field-float .mat-form-field-required-marker{
  color:#f44336
}
.mat-form-field-invalid .mat-form-field-ripple{
  background-color:#f44336
}
.mat-error{
  color:#f44336
}
.mat-icon.mat-primary{
  color:#00e676
}
.mat-icon.mat-accent{
  color:#00b0ff
}
.mat-icon.mat-warn{
  color:#f44336
}
.mat-input-element:disabled{
  color:hsla(0,0%,100%,.7)
}
.mat-list .mat-list-item,.mat-list .mat-list-option,.mat-nav-list .mat-list-item,.mat-nav-list .mat-list-option,.mat-selection-list .mat-list-item,.mat-selection-list .mat-list-option{
  color:#fff
}
.mat-list .mat-subheader,.mat-nav-list .mat-subheader,.mat-selection-list .mat-subheader{
  color:hsla(0,0%,100%,.7)
}
.mat-list-item-disabled{
  background-color:#000
}
.mat-divider{
  border-top-color:hsla(0,0%,100%,.12)
}
.mat-nav-list .mat-list-item{
  outline:none
}
.mat-nav-list .mat-list-item.mat-list-item-focus,.mat-nav-list .mat-list-item:hover{
  background:hsla(0,0%,100%,.04)
}
.mat-list-option{
  outline:none
}
.mat-list-option.mat-list-item-focus,.mat-list-option:hover{
  background:hsla(0,0%,100%,.04)
}
.mat-menu-panel{
  background:#424242
}
.mat-menu-item{
  background:transparent;
  color:#fff
}
.mat-menu-item[disabled]{
  color:hsla(0,0%,100%,.3)
}
.mat-menu-item-submenu-trigger:after,.mat-menu-item .mat-icon{
  color:#fff
}
.mat-menu-item-highlighted:not([disabled]),.mat-menu-item:focus:not([disabled]),.mat-menu-item:hover:not([disabled]){
  background:hsla(0,0%,100%,.04)
}
.mat-paginator{
  background:#424242
}
.mat-paginator,.mat-paginator-page-size .mat-select-trigger{
  color:hsla(0,0%,100%,.7)
}
.mat-paginator-decrement,.mat-paginator-increment{
  border-top:2px solid #fff;
  border-right:2px solid #fff
}
.mat-icon-button[disabled] .mat-paginator-decrement,.mat-icon-button[disabled] .mat-paginator-increment{
  border-color:hsla(0,0%,100%,.3)
}
.mat-progress-bar-background{
  background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27%23c8e6c9%27%2F%3E%3C%2Fsvg%3E")
}
.mat-progress-bar-buffer{
  background-color:#c8e6c9
}
.mat-progress-bar-fill:after{
  background-color:#00e676
}
.mat-progress-bar.mat-accent .mat-progress-bar-background{
  background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27%23b3e5fc%27%2F%3E%3C%2Fsvg%3E")
}
.mat-progress-bar.mat-accent .mat-progress-bar-buffer{
  background-color:#b3e5fc
}
.mat-progress-bar.mat-accent .mat-progress-bar-fill:after{
  background-color:#00b0ff
}
.mat-progress-bar.mat-warn .mat-progress-bar-background{
  background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27%23ffcdd2%27%2F%3E%3C%2Fsvg%3E")
}
.mat-progress-bar.mat-warn .mat-progress-bar-buffer{
  background-color:#ffcdd2
}
.mat-progress-bar.mat-warn .mat-progress-bar-fill:after{
  background-color:#f44336
}
.mat-progress-spinner path,.mat-spinner path{
  stroke:#00e676
}
.mat-progress-spinner.mat-accent path,.mat-spinner.mat-accent path{
  stroke:#00b0ff
}
.mat-progress-spinner.mat-warn path,.mat-spinner.mat-warn path{
  stroke:#f44336
}
.mat-radio-outer-circle{
  border-color:hsla(0,0%,100%,.7)
}
.mat-radio-disabled .mat-radio-outer-circle{
  border-color:hsla(0,0%,100%,.3)
}
.mat-radio-disabled .mat-radio-inner-circle,.mat-radio-disabled .mat-radio-ripple .mat-ripple-element{
  background-color:hsla(0,0%,100%,.3)
}
.mat-radio-disabled .mat-radio-label-content{
  color:hsla(0,0%,100%,.3)
}
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle{
  border-color:#00e676
}
.mat-radio-button.mat-primary .mat-radio-inner-circle{
  background-color:#00e676
}
.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element{
  background-color:rgba(0,230,118,.26)
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:#00b0ff
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color:#00b0ff
}
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element{
  background-color:rgba(0,176,255,.26)
}
.mat-radio-button.mat-warn.mat-radio-checked .mat-radio-outer-circle{
  border-color:#f44336
}
.mat-radio-button.mat-warn .mat-radio-inner-circle{
  background-color:#f44336
}
.mat-radio-button.mat-warn .mat-radio-ripple .mat-ripple-element{
  background-color:rgba(244,67,54,.26)
}
.mat-select-arrow,.mat-select-trigger{
  color:hsla(0,0%,100%,.7)
}
.mat-select-underline{
  background-color:hsla(0,0%,100%,.7)
}
[aria-disabled=true] .mat-select-underline{
  background-image:linear-gradient(90deg,hsla(0,0%,100%,.7) 0,hsla(0,0%,100%,.7) 33%,transparent 0);
  background-size:4px 1px;
  background-repeat:repeat-x
}
.mat-select-arrow,.mat-select-disabled .mat-select-value,.mat-select-trigger{
  color:hsla(0,0%,100%,.7)
}
.mat-select-content,.mat-select-panel-done-animating{
  background:#424242
}
.mat-select-value{
  color:#fff
}
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple){
  background:hsla(0,0%,100%,.12)
}
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow,.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger{
  color:#00e676
}
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-underline{
  background-color:#00e676
}
.mat-select:focus:not(.mat-select-disabled).mat-accent .mat-select-arrow,.mat-select:focus:not(.mat-select-disabled).mat-accent .mat-select-trigger{
  color:#00b0ff
}
.mat-select:focus:not(.mat-select-disabled).mat-accent .mat-select-underline{
  background-color:#00b0ff
}
.mat-select-invalid .mat-select-arrow,.mat-select-invalid .mat-select-trigger,.mat-select:focus:not(.mat-select-disabled).mat-select-required .mat-select-placeholder:after,.mat-select:focus:not(.mat-select-disabled).mat-warn .mat-select-arrow,.mat-select:focus:not(.mat-select-disabled).mat-warn .mat-select-trigger{
  color:#f44336
}
.mat-select-invalid .mat-select-underline,.mat-select:focus:not(.mat-select-disabled).mat-warn .mat-select-underline{
  background-color:#f44336
}
.mat-drawer-container{
  background-color:#303030;
  color:#fff
}
.mat-drawer{
  color:#fff
}
.mat-drawer,.mat-drawer.mat-drawer-push{
  background-color:#424242
}
.mat-drawer-backdrop.mat-drawer-shown{
  background-color:hsla(0,0%,74%,.6)
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
  background-color:#81d4fa
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
  background-color:rgba(129,212,250,.5)
}
.mat-slide-toggle:not(.mat-checked) .mat-ripple-element{
  background-color:hsla(0,0%,100%,.12)
}
.mat-slide-toggle .mat-ripple-element{
  background-color:rgba(129,212,250,.12)
}
.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
  background-color:#a5d6a7
}
.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
  background-color:rgba(165,214,167,.5)
}
.mat-slide-toggle.mat-primary:not(.mat-checked) .mat-ripple-element{
  background-color:hsla(0,0%,100%,.12)
}
.mat-slide-toggle.mat-primary .mat-ripple-element{
  background-color:rgba(165,214,167,.12)
}
.mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
  background-color:#ef9a9a
}
.mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
  background-color:hsla(0,73%,77%,.5)
}
.mat-slide-toggle.mat-warn:not(.mat-checked) .mat-ripple-element{
  background-color:hsla(0,0%,100%,.12)
}
.mat-slide-toggle.mat-warn .mat-ripple-element{
  background-color:hsla(0,73%,77%,.12)
}
.mat-disabled .mat-slide-toggle-thumb{
  background-color:#424242
}
.mat-disabled .mat-slide-toggle-bar{
  background-color:hsla(0,0%,100%,.12)
}
.mat-slide-toggle-thumb{
  background-color:#bdbdbd
}
.mat-slide-toggle-bar,.mat-slider-track-background{
  background-color:hsla(0,0%,100%,.3)
}
.mat-primary .mat-slider-thumb,.mat-primary .mat-slider-thumb-label,.mat-primary .mat-slider-track-fill{
  background-color:#00e676
}
.mat-primary .mat-slider-thumb-label-text{
  color:rgba(0,0,0,.87)
}
.mat-accent .mat-slider-thumb,.mat-accent .mat-slider-thumb-label,.mat-accent .mat-slider-track-fill{
  background-color:#00b0ff
}
.mat-accent .mat-slider-thumb-label-text{
  color:rgba(0,0,0,.87)
}
.mat-warn .mat-slider-thumb,.mat-warn .mat-slider-thumb-label,.mat-warn .mat-slider-track-fill{
  background-color:#f44336
}
.mat-warn .mat-slider-thumb-label-text{
  color:#fff
}
.mat-slider-focus-ring{
  background-color:rgba(0,176,255,.2)
}
.cdk-focused .mat-slider-track-background,.mat-slider-disabled .mat-slider-thumb,.mat-slider-disabled .mat-slider-track-background,.mat-slider-disabled .mat-slider-track-fill,.mat-slider-disabled:hover .mat-slider-track-background,.mat-slider:hover .mat-slider-track-background{
  background-color:hsla(0,0%,100%,.3)
}
.mat-slider-min-value .mat-slider-focus-ring{
  background-color:hsla(0,0%,100%,.12)
}
.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb,.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label{
  background-color:#fff
}
.mat-slider-min-value.mat-slider-thumb-label-showing.cdk-focused .mat-slider-thumb,.mat-slider-min-value.mat-slider-thumb-label-showing.cdk-focused .mat-slider-thumb-label{
  background-color:hsla(0,0%,100%,.3)
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb{
  border-color:hsla(0,0%,100%,.3);
  background-color:transparent
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing).cdk-focused.mat-slider-disabled .mat-slider-thumb,.mat-slider-min-value:not(.mat-slider-thumb-label-showing).cdk-focused .mat-slider-thumb,.mat-slider-min-value:not(.mat-slider-thumb-label-showing):hover.mat-slider-disabled .mat-slider-thumb,.mat-slider-min-value:not(.mat-slider-thumb-label-showing):hover .mat-slider-thumb{
  border-color:hsla(0,0%,100%,.3)
}
.mat-slider-has-ticks .mat-slider-wrapper:after{
  border-color:hsla(0,0%,100%,.7)
}
.mat-slider-horizontal .mat-slider-ticks{
  background-image:repeating-linear-gradient(90deg,hsla(0,0%,100%,.7),hsla(0,0%,100%,.7) 2px,transparent 0,transparent);
  background-image:-moz-repeating-linear-gradient(.0001deg,hsla(0,0%,100%,.7),hsla(0,0%,100%,.7) 2px,transparent 0,transparent)
}
.mat-slider-vertical .mat-slider-ticks{
  background-image:repeating-linear-gradient(180deg,hsla(0,0%,100%,.7),hsla(0,0%,100%,.7) 2px,transparent 0,transparent)
}
.mat-tab-header,.mat-tab-nav-bar{
  border-bottom:1px solid hsla(0,0%,100%,.12)
}
.mat-tab-group-inverted-header .mat-tab-header,.mat-tab-group-inverted-header .mat-tab-nav-bar{
  border-top:1px solid hsla(0,0%,100%,.12);
  border-bottom:none
}
.mat-tab-label,.mat-tab-link{
  color:#fff
}
.mat-tab-label.mat-tab-disabled,.mat-tab-link.mat-tab-disabled{
  color:hsla(0,0%,100%,.3)
}
.mat-tab-header-pagination-chevron{
  border-color:#fff
}
.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron{
  border-color:hsla(0,0%,100%,.3)
}
.mat-tab-group[class*=mat-background-] .mat-tab-header,.mat-tab-nav-bar[class*=mat-background-]{
  border-bottom:none;
  border-top:none
}
.mat-tab-group.mat-primary .mat-tab-label:focus,.mat-tab-group.mat-primary .mat-tab-link:focus,.mat-tab-nav-bar.mat-primary .mat-tab-label:focus,.mat-tab-nav-bar.mat-primary .mat-tab-link:focus{
  background-color:rgba(200,230,201,.3)
}
.mat-tab-group.mat-primary .mat-ink-bar,.mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color:#00e676
}
.mat-tab-group.mat-primary.mat-background-primary .mat-ink-bar,.mat-tab-nav-bar.mat-primary.mat-background-primary .mat-ink-bar{
  background-color:rgba(0,0,0,.87)
}
.mat-tab-group.mat-accent .mat-tab-label:focus,.mat-tab-group.mat-accent .mat-tab-link:focus,.mat-tab-nav-bar.mat-accent .mat-tab-label:focus,.mat-tab-nav-bar.mat-accent .mat-tab-link:focus{
  background-color:rgba(179,229,252,.3)
}
.mat-tab-group.mat-accent .mat-ink-bar,.mat-tab-nav-bar.mat-accent .mat-ink-bar{
  background-color:#00b0ff
}
.mat-tab-group.mat-accent.mat-background-accent .mat-ink-bar,.mat-tab-nav-bar.mat-accent.mat-background-accent .mat-ink-bar{
  background-color:rgba(0,0,0,.87)
}
.mat-tab-group.mat-warn .mat-tab-label:focus,.mat-tab-group.mat-warn .mat-tab-link:focus,.mat-tab-nav-bar.mat-warn .mat-tab-label:focus,.mat-tab-nav-bar.mat-warn .mat-tab-link:focus{
  background-color:rgba(255,205,210,.3)
}
.mat-tab-group.mat-warn .mat-ink-bar,.mat-tab-nav-bar.mat-warn .mat-ink-bar{
  background-color:#f44336
}
.mat-tab-group.mat-warn.mat-background-warn .mat-ink-bar,.mat-tab-nav-bar.mat-warn.mat-background-warn .mat-ink-bar{
  background-color:#fff
}
.mat-tab-group.mat-background-primary .mat-tab-label:focus,.mat-tab-group.mat-background-primary .mat-tab-link:focus,.mat-tab-nav-bar.mat-background-primary .mat-tab-label:focus,.mat-tab-nav-bar.mat-background-primary .mat-tab-link:focus{
  background-color:rgba(200,230,201,.3)
}
.mat-tab-group.mat-background-primary .mat-tab-header,.mat-tab-group.mat-background-primary .mat-tab-links,.mat-tab-nav-bar.mat-background-primary .mat-tab-header,.mat-tab-nav-bar.mat-background-primary .mat-tab-links{
  background-color:#00e676
}
.mat-tab-group.mat-background-primary .mat-tab-label,.mat-tab-group.mat-background-primary .mat-tab-link,.mat-tab-nav-bar.mat-background-primary .mat-tab-label,.mat-tab-nav-bar.mat-background-primary .mat-tab-link{
  color:rgba(0,0,0,.87)
}
.mat-tab-group.mat-background-primary .mat-tab-label.mat-tab-disabled,.mat-tab-group.mat-background-primary .mat-tab-link.mat-tab-disabled,.mat-tab-nav-bar.mat-background-primary .mat-tab-label.mat-tab-disabled,.mat-tab-nav-bar.mat-background-primary .mat-tab-link.mat-tab-disabled{
  color:rgba(0,0,0,.4)
}
.mat-tab-group.mat-background-primary .mat-tab-header-pagination-chevron,.mat-tab-nav-bar.mat-background-primary .mat-tab-header-pagination-chevron{
  border-color:rgba(0,0,0,.87)
}
.mat-tab-group.mat-background-primary .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron,.mat-tab-nav-bar.mat-background-primary .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron{
  border-color:rgba(0,0,0,.4)
}
.mat-tab-group.mat-background-accent .mat-tab-label:focus,.mat-tab-group.mat-background-accent .mat-tab-link:focus,.mat-tab-nav-bar.mat-background-accent .mat-tab-label:focus,.mat-tab-nav-bar.mat-background-accent .mat-tab-link:focus{
  background-color:rgba(179,229,252,.3)
}
.mat-tab-group.mat-background-accent .mat-tab-header,.mat-tab-group.mat-background-accent .mat-tab-links,.mat-tab-nav-bar.mat-background-accent .mat-tab-header,.mat-tab-nav-bar.mat-background-accent .mat-tab-links{
  background-color:#00b0ff
}
.mat-tab-group.mat-background-accent .mat-tab-label,.mat-tab-group.mat-background-accent .mat-tab-link,.mat-tab-nav-bar.mat-background-accent .mat-tab-label,.mat-tab-nav-bar.mat-background-accent .mat-tab-link{
  color:rgba(0,0,0,.87)
}
.mat-tab-group.mat-background-accent .mat-tab-label.mat-tab-disabled,.mat-tab-group.mat-background-accent .mat-tab-link.mat-tab-disabled,.mat-tab-nav-bar.mat-background-accent .mat-tab-label.mat-tab-disabled,.mat-tab-nav-bar.mat-background-accent .mat-tab-link.mat-tab-disabled{
  color:rgba(0,0,0,.4)
}
.mat-tab-group.mat-background-accent .mat-tab-header-pagination-chevron,.mat-tab-nav-bar.mat-background-accent .mat-tab-header-pagination-chevron{
  border-color:rgba(0,0,0,.87)
}
.mat-tab-group.mat-background-accent .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron,.mat-tab-nav-bar.mat-background-accent .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron{
  border-color:rgba(0,0,0,.4)
}
.mat-tab-group.mat-background-warn .mat-tab-label:focus,.mat-tab-group.mat-background-warn .mat-tab-link:focus,.mat-tab-nav-bar.mat-background-warn .mat-tab-label:focus,.mat-tab-nav-bar.mat-background-warn .mat-tab-link:focus{
  background-color:rgba(255,205,210,.3)
}
.mat-tab-group.mat-background-warn .mat-tab-header,.mat-tab-group.mat-background-warn .mat-tab-links,.mat-tab-nav-bar.mat-background-warn .mat-tab-header,.mat-tab-nav-bar.mat-background-warn .mat-tab-links{
  background-color:#f44336
}
.mat-tab-group.mat-background-warn .mat-tab-label,.mat-tab-group.mat-background-warn .mat-tab-link,.mat-tab-nav-bar.mat-background-warn .mat-tab-label,.mat-tab-nav-bar.mat-background-warn .mat-tab-link{
  color:#fff
}
.mat-tab-group.mat-background-warn .mat-tab-label.mat-tab-disabled,.mat-tab-group.mat-background-warn .mat-tab-link.mat-tab-disabled,.mat-tab-nav-bar.mat-background-warn .mat-tab-label.mat-tab-disabled,.mat-tab-nav-bar.mat-background-warn .mat-tab-link.mat-tab-disabled{
  color:hsla(0,0%,100%,.4)
}
.mat-tab-group.mat-background-warn .mat-tab-header-pagination-chevron,.mat-tab-nav-bar.mat-background-warn .mat-tab-header-pagination-chevron{
  border-color:#fff
}
.mat-tab-group.mat-background-warn .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron,.mat-tab-nav-bar.mat-background-warn .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron{
  border-color:hsla(0,0%,100%,.4)
}
.mat-toolbar{
  background:#212121;
  color:#fff
}
.mat-toolbar.mat-primary{
  background:#00e676;
  color:rgba(0,0,0,.87)
}
.mat-toolbar.mat-accent{
  background:#00b0ff;
  color:rgba(0,0,0,.87)
}
.mat-toolbar.mat-warn{
  background:#f44336;
  color:#fff
}
.mat-tooltip{
  background:rgba(97,97,97,.9)
}
.mat-snack-bar-container{
  background:#fafafa;
  color:rgba(0,0,0,.87)
}
.mat-simple-snackbar-action{
  color:inherit
}
.app-frame,app-root,body,html{
  margin:0;
  color:#e0e0e0
}
.app-body,.app-frame,app-root,body,html{
  overflow:hidden;
  height:100%;
  box-sizing:border-box
}
.app-panel{
  overflow:auto;
  height:100%
}
.mat-typography h1,.mat-typography h2,.mat-typography h3,.mat-typography h4,.mat-typography h5,.mat-typography h6,.mat-typography p,md-card.mat-card,md-input-container,md-select,p.mat-caption{
  margin-top:10px;
  margin-left:15px;
  margin-right:15px
}
.active.active div.mat-list-item-content,.app-body a.link,.mat-primary .mat-option.mat-selected,.md-option.mat-selected.map-primary,code.snippet{
  color:#00e676
}
.app-body a.link:visited{
  color:#00b0ff
}
div.cdk-overlay-container{
  background-color:transparent;
  z-index:9999
}
.mat-nav-list.sidepanel{
  background-color:#555
}
