<mat-toolbar style="border-width: 10px" class="border-top" color="primary">
  <mat-toolbar-row class="">
    <span class="">
      <button title="Menu" mat-icon-button color="" (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <span class="w-icon-pl" color="">
      <mat-icon class="pl-1" color="accent">developer_board</mat-icon>
      <h5 class="ml-2 pl-1"> <b> HIA</b></h5>
    </span>
    <span class="example-fill-remaining-space"></span>

    <span>
      <form action="">
        <div class="p-2 bg-light rounded rounded-pill shadow-sm mb-2">
          <div class="input-group">
            <input type="search" placeholder="Search..." aria-describedby="button-addon1"
              class="p-1 form-control border-0  bg-light">
            <div class="input-group-append">
              <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                  class="fa fa-search fa-lg"></i></button>
            </div>
          </div>
        </div>
      </form>
    </span>
    <span class="">


      <button mat-icon-button [matMenuTriggerFor]="menuNotifications">
        <mat-icon matBadge="2" matBadgeColor="warn" aria-label="account-button">notifications</mat-icon>
      </button>
      <mat-menu #menuNotifications="matMenu">
        <button mat-menu-item>You have 1 unread email</button>
        <button mat-menu-item>Error generating report</button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="menuUser">
        <mat-icon aria-label="account-button">account_circle</mat-icon>
      </button>

      <mat-menu #menuUser="matMenu">
        <button mat-raised-button style="background:cornflowerblue; width: 100%;">Log Out</button>
      </mat-menu>
    </span>
  </mat-toolbar-row>
</mat-toolbar>