// @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-toolbar {
  background: rgb(36, 44, 61);
  color: white;
}

.mat-menu{
  background: rgb(91, 151, 201);
  
}
.mat-menu-item{
  background: rgb(91, 151, 201);
}

.border-top {
  border-top: 11px solid #000000!important;
}

button:focus {outline:0;}
button {
  outline: none; // this one
}

.form-control:focus {
  box-shadow:none;
  padding-left: 10;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  padding-left: 0;
}

.form-control::placeholder {
  font-size: 1.25rem;
  text-align: center;
  color: #aaa;
  font-style: italic;
}

mat-icon-button:focus{outline:0;}

