

/* You can add global styles to this file, and also import other style files */

@import './scss_themes/palette.scss';
@import './css/palette.css';

@import '~@angular/material/theming';
@include mat-core();



.aligned-w-icon{
  position: absolute;
  margin-top: 5px;
  margin-left: 5px; /* optional */
}

.aligned-w-icon-relative{
  position: relative;
  top: -5px;
  margin-left: 5px; /* optional */
}

.w-icon {
  display: flex;
  align-items: center;
}

.w-icon-pl {
  display: flex;
  align-items: center;
  padding-left:1rem;
}

html, body, app-root, .app-frame {
    overflow: hidden;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    color: #e0e0e0;
    background-color: #afadad;
}

.app-body {
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.app-panel {
    overflow: auto;
    height: 100%;
}

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p,
.mat-card,
p.mat-caption,
.mat-input-container,
.mat-select {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

code.snippet,
.app-body a.link,
.active.active div.mat-list-item-content,
.md-option.mat-selected.map-primary,
.mat-primary .mat-option.mat-selected {
    color: map-get($mat-light-blue, A400);
    background: rgba(104, 152, 236, 0.219);

}

.app-body a.link:visited {
    color: map-get($mat-light-blue, A400);
}

div.cdk-overlay-container {
    background-color: transparent;
    z-index: 9999;
}

.mat-nav-list.sidepanel {
    background-color: #1976D2;
}

.mat-expansion-indicator:after{
  color:#B8B5B5
}

button:focus {outline:0;}
button {
  outline: none; // this one
}

mat-icon-button:focus{outline:0;}
